<div
    class="d-flex align-items-center"
    hx-get="{{ url_for('choose', code=game.code) }}?partial=true"
    hx-trigger="{% if game.choosing %}every 5s{% endif %}"
    hx-swap="outerHTML"
    hx-indicator="#spinner">
    <span class="fs-4 me-2 text-end">Player:</span>
    {% for player in game.players %}
    <a
        class="btn btn-{{ player.color.value }} {% if player.state.value and game.choosing or player.autoplay %} btn-outline-{{ player.color.value }} disabled {% endif %} ms-1"
        href="{{ url_for('player', code=game.code, color=player.color.key) }}">
        <span class="d-none d-md-inline">{{ player.color.title }}</span>
        <span class="d-inline d-md-none">{{ player.color.title[0] }}</span>
    </a>
    {% endfor %}
</div>
