<div class="btn-group">
    {% if game.shared %}
    <a class="btn btn-outline-secondary" href="{{ url_for('choose', code=game.code) }}">
        ⇄ <span class="d-none d-md-inline">Switch Player</span>
    </a>
    {% endif %} {% if not player.autoplay %}
    <a
        class="btn btn-dark {% if game.choosing or game.planning %} disabled {% endif %}"
        href="{{ url_for('player_next', code=game.code, color=player.color.key) }}"
        id="next">
        Next Round
    </a>
    {% endif %}
</div>
