<h1 class="py-4" hx-get="/games/{{ game.number }}/_board" hx-target="#board">
    Round {{ game.round }}
</h1>

<table class="table table-bordered border-dark">
    <tbody>
        {% for row in game.board.rows %}

        <tr>
            {% for cell in row.cols %}
            <td
                class="d-none d-md-table-cell"
                style="width: 20%; height: 15vmin; padding: 7px 10px 10px 10px">
                {% if cell %} {% include "cell.html" %} {% endif %}
            </td>
            <td
                class="d-sm-table-cell d-md-none"
                style="width: 20%; height: 26vw; padding: 0 3px 3px 3px">
                {% if cell %} {% include "cell.html" %} {% endif %}
            </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
