{% if editing or (cell.moves and cell.color == player.color) %}

<div class="d-flex flex-column justify-content-between" style="height: 100%">
    <div class="text-center">
        {% if cell.can_move_up %}
        <button
            type="button"
            class="btn btn-sm btn-outline-{{ cell.color.value }} py-0 px-3"
            hx-post="{{ url_for('move', number=game.number, row=cell.row, col=cell.col, direction='up') }}"
            hx-target="closest td">
            {{ cell.up }}
        </button>
        {% else %}
        <span class="py-0 px-3"></span>
        {% endif %}
    </div>

    <div class="d-flex justify-content-between align-items-center">
        {% if cell.can_move_left %}
        <button
            type="button"
            class="btn btn-sm btn-outline-{{ cell.color.value }} py-2 px-1"
            hx-post="{{ url_for('move', number=game.number, row=cell.row, col=cell.col, direction='left') }}"
            hx-target="closest td">
            {{ cell.left }}
        </button>
        {% else %}
        <span class="py-2 px-1"></span>
        {% endif %}

        <span
            class="text-{{ cell.color.value }} fs-3"
            hx-post="{{ url_for('move', number=game.number, row=cell.row, col=cell.col, direction='center') }}"
            hx-target="closest td">
            {{ cell.value }}
        </span>

        {% if cell.can_move_right %}
        <button
            type="button"
            class="btn btn-sm btn-outline-{{ cell.color.value }} py-2 px-1"
            hx-post="{{ url_for('move', number=game.number, row=cell.row, col=cell.col, direction='right') }}"
            hx-target="closest td">
            {{ cell.right }}
        </button>
        {% else %}
        <span class="py-2 px-1"></span>
        {% endif %}
    </div>

    <div class="text-center">
        {% if cell.can_move_down %}
        <button
            type="button"
            class="btn btn-sm btn-outline-{{ cell.color.value }} py-0 px-3"
            hx-post="{{ url_for('move', number=game.number, row=cell.row, col=cell.col, direction='down') }}"
            hx-target="closest td">
            {{ cell.down }}
        </button>
        {% else %}
        <span class="py-0 px-3"></span>
        {% endif %}
    </div>
</div>

{% elif player and player.color == cell.color and planning %}

<div
    class="d-flex justify-content-center align-items-center"
    style="height: 100%"
    hx-post="{{ url_for('cell', number=game.number, row=cell.row, col=cell.col) }}"
    hx-target="closest td">
    <button class="btn btn-outline-{{ cell.color.value }} fs-1 px-4 d-none d-md-inline">
        {{ cell.value }}
    </button>
    <button
        class="btn btn-outline-{{ cell.color.value }} fs-1 px-3 d-sm-inline d-md-none">
        {{ cell.value }}
    </button>
</div>

{% else %}

<div class="d-flex justify-content-center align-items-center" style="height: 100%">
    <span class="text-{{ cell.color.value }} fs-1">{{ cell.value }}</span>
</div>

{% endif %}
