<div class="d-flex justify-content-between align-items-center py-4">
    <div class="d-flex align-items-center fs-2 text-nowrap me-2">
        Round {{ game.round }}{% if player %}: {{ player.state.title }}{% endif %}
    </div>
    <div>
        {% if game.round == 0 %}

        <button
            type="button"
            class="btn btn-outline-secondary"
            hx-post="{{ url_for('randomize', code=game.code) }}"
            hx-target="#board"
            hx-indicator="#spinner">
            New Board
        </button>
        <a class="btn btn-dark" href="{{ url_for('players', code=game.code) }}">
            Start Game
        </a>

        {% elif player %} {% if player.state == State.PLANNING %}

        <a
            class="btn btn-{{ player.color.value }}"
            href="{{ url_for('player_done', code=game.code, color=player.color.key) }}">
            Done
        </a>

        {% elif player.state == State.WAITING %}

        <div class="btn-group">
            <a
                class="btn btn-{{ player.color.value }} ms-2 {% if game.waiting %}disabled{% endif %}"
                href="{{ url_for('done', code=game.code, color=player.color.key) }}">
                Next Round
            </a>
            <a
                class="btn btn-outline-secondary"
                href="{{ url_for('players', code=game.code) }}">
                ⇄ <span class="d-none d-sm-inline">Switch Player</span>
            </a>
        </div>

        {% else %}

        <div class="btn-group">
            <a
                class="btn btn-{{ player.color.value }}"
                href="{{ url_for('player_moves', code=game.code, color=player.color.key) }}">
                Plan Moves
            </a>
            <a
                class="btn btn-outline-secondary"
                href="{{ url_for('players', code=game.code) }}">
                ⇄ <span class="d-none d-sm-inline">Switch Player</span>
            </a>
        </div>
        {% endif %} {% else %} {% include "players.html"%} {% endif %}
    </div>
</div>
