<div
    class="d-flex align-items-center"
    hx-get="{{ url_for('choose', code=game.code) }}?partial=true"
    hx-trigger="{% if game.choosing %}every 2s{% endif %}"
    hx-swap="outerHTML"
    hx-indicator="#spinner">
    <span class="fs-4 me-1">Choose Color:</span>
    {% for player in game.players %}
    <a
        class="btn btn-{{ player.color.value }} {% if player.state.value and game.choosing %} disabled {% endif %} ms-1"
        href="{{ url_for('player', code=game.code, color=player.color.key) }}">
        {{ player.color.title }}
    </a>
    {% endfor %}
</div>
