<div
    class="btn-group"
    hx-post="{{ url_for('player_plan', code=game.code, color=player.color.key) }}?partial=true"
    hx-trigger="{% if game.choosing %}every 2s{% endif %}"
    hx-swap="outerHTML"
    hx-indicator="#spinner">
    <button
        type="button"
        class="btn btn-{{ player.color.value }} {% if game.choosing %}disabled{% endif %}"
        hx-post="{{ url_for('player_plan', code=game.code, color=player.color.key) }}"
        hx-target="#board"
        hx-indicator="#spinner">
        Plan Moves
    </button>
    <a class="btn btn-outline-secondary" href="{{ url_for('choose', code=game.code) }}">
        ⇄ <span class="d-none d-md-inline">Switch Player</span>
    </a>
</div>
