<div style="max-width: 80vh"
    id="board"
    {% if player and player.state == State.WAITING %}
    hx-get="{{ url_for('player', code=game.code, color=player.color.key) }}?partial=true"
    hx-trigger="every 5s"
    hx-target="#board"
    hx-indicator="#spinner"
    {% endif %}>

    {% include 'menu.html' %}

    {% if player %}
    <div class="border border-3 border-{{ player.color.value }} rounded-top"></div>
    {% endif %}

    <table class="table table-bordered border-dark">
        <tbody>
            {% for row in game.board %}
            <tr>
                {% for cell in row %}
                <td>
                    {% if cell %} {% include "cell.html" %} {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <div class="text-muted">
            {{ game.message }}
        </div>
        <div
            class="spinner-border spinner-border-sm text-secondary htmx-indicator"
            role="status"
            id="spinner">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    {% if player and player.state == State.WAITING and not game.over and debug %}
    <div class="border font-monospace mt-3 pt-3 px-3">{% include "moves.html" %}</div>
    {% endif %}

    <style>
        td {
          width: {{ game.board.width }};
          position: relative;
        }
        td:after {
          content: '';
          display: block;
          margin-top: 100%;
        }
        td .content {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
    </style>

</div>
