<div class="d-flex justify-content-between align-items-center py-4">
    <div class="d-flex align-items-center fs-2 text-nowrap me-2">
        {% if game.over %}Game Over {% elif game.round and not game.choosing %} Round {{
        game.round }}{% if player and not player.autoplay %}: {{ player.state.title }}
        {% endif %} {% else %} Code: {{ game.code }}
        <button class="btn btn-outline-dark ms-2" data-clipboard-text="{{ game.url }}">
            📋 <span class="d-none d-sm-inline">Copy URL</span>
        </button>
        {% endif %}
    </div>

    <div class="btn-group">
        {% if game.round == 0 %}

        <!-- Phase 1 -->

        <button
            type="button"
            class="btn btn-outline-secondary"
            hx-post="{{ url_for('randomize', code=game.code) }}"
            hx-target="#board"
            hx-indicator="#spinner">
            🔀 <span class="d-none d-sm-inline">New Board</span>
        </button>
        <a class="btn btn-dark" href="{{ url_for('choose', code=game.code) }}">
            Start Game
        </a>

        {% elif not player %}

        <!-- Phase 2 -->

        {% include "menu/choose.html"%} {% else %}

        <!-- Phase 3 -->

        {% if player.state == State.PLANNING %}

        <!-- Phase 3.2 -->

        {% include "menu/done.html" %} {% elif player.state == State.WAITING %}

        <!-- Phase 3.3 -->

        {% include "menu/next.html" %} {% elif not game.over %}

        <!-- Phase 3.1 -->

        {% include "menu/plan.html" %} {% endif %} {% endif %}
    </div>
</div>
